{% extends 'base.html' %}
{% load static %}
{% block content %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


<script>
    $(document).ready(function() {
            getTodolist();
    });

    async function getTodolist() {
        $.getJSON("json", function(data) {
            var todolistHTML = '';
            $.each(data, function (key, task) {
                todolistHTML += getCard(task);
            });
            console.log(todolistHTML); 
            document.getElementById("content").innerHTML = todolistHTML;
        })
    }

    function getCard(task) {
        item = `    
        <div class="accordion" id=acc-${task.pk}>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading${task.pk}">
                    <button class="accordion-button" type="button">
                        <img src = "https://cdn-icons-png.flaticon.com/512/4697/4697260.png" width = "50" height = "50">
                        <h1>${task.fields.title}</h1>
                    </button>
                </h2>
                <div id="collapse${task.pk}" class="accordion-collapse collapse show" aria-labelledby="heading${task.pk}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>at ${task.fields.date} </strong> 
                        <p>${task.fields.description}</p>
                        {% if task.fields.is_finished %}
                            <p>Finished</p>
                        {% else %}
                            <p id = "task-finished-${task.pk}">Not Finished</p>
                            <button id="task-finished-${task.pk}" class="btn btn-primary" onclick="finished(${task.pk})">Finished Todolist</button>
                        {% endif %}
                        <button id="submit-task" class="btn btn-primary" onclick="deleteTask(${task.pk})">Delete Todolist</button>
                    </div>
                </div>
            </div>
        </div>
        `
        return item;
    }

    function submitNewTask(taskForm) {
        $.post("create-task/", $(taskForm).serialize(), function(data){
            document.getElementById("content").innerHTML += getCard(data[0]);
        });
    }
    function deleteTask(id) {
    $.post(`delete-task/${id}`, $(taskForm).serialize(), function(){
        $(`#acc-${id}`).fadeOut('slow');
    });
    }

    function finished(id) {
    $.post(`finished-task/${id}`, $(taskForm).serialize(), function(){
        $(`#task-finished-${id}`).fadeOut('slow');
    });
}

    
</script>
    
<nav class="navbar" style="background-color: #76cfad;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Username: {{nama}}</a>
      <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modal-ajax">Create New Todolist</a>
      <a class="btn btn-primary btn-lg" href="{% url 'todolist:logout' %}" role="button">Logout</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
</nav>


<div>
    <table class="table table-borderless">
        <thead>
            <tr class="">
                <th class="text-center" scope="col" style=font-size:30px>TodoList</th>
            </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
</div>

<!-- modal -->
<div class="modal fade" id="modal-ajax" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Your New Todolist</h1>
            <div class="modal-body">
                <form id="taskForm" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description</label>
                        <textarea class="form-control" id="description"  name="description" required></textarea>
                    </div>
                    
                </form>
                <button id="submit-task" class="btn btn-primary" onclick="submitNewTask(taskForm)">Submit Todolist</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}